<!-- ./partials/head.ejs -->
<header>
          <!-- Barra verde-->
        <!--<div class="container-fluid small mr-0 p-1 mx-auto bg-success row justify-content-center text-white">
  3 CUOTAS SIN INTERÉS - ENVÍOS A TODO EL PAÍS
        </div>

        <div class="container-fluid mr-0 pr-0 mx-auto p-3 bg-secondary align-items-center">
          <div class="row">
            <div class="col-6">       
              <div class="logo col-8">
                <a class="nav-link" href="/"><img src="https://santiagom.alwaysdata.net/logo.svg" alt=""></img></a>
              </div>
            </div>        
            <div class="col-6 d-flex justify-content-end align-items-center">
              
              <a class="nav-item mx-3" href="/">Home</a>
              <a class="nav-item mx-3" href="/products/productCatalogue">Productos</a>
              <% if(locals.isLogged) {%>
              <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-1" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="<%= locals.userLogged.imagen %>" width="40" style="border-radius: 100%">
                  Hola <%= locals.userLogged.nombre %>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/users/profile">Perfil</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/users/logout">Cerrar Sesión</a></li>
                </ul>
              </div>
              <% } else {%>
                <a class="nav-item mx-3" href="/users/login">Empleados</a>
                <a class="nav-item mx-3" href="/users/register">Registrarse</a>
            <% }%>
            </div>
          </div>
        </div>
  Barra buscar productos

  <div class="row">
    <div class="col-12 p-0 m-0 row align-items-center justify-content-center">
      <input class="col-8 m-1" type="search " placeholder="Buscar productos..." aria-label="Search">
      <button class="btn btn-secondary col-1 m-1 " type="submit"><i class="bi bi-search row align-items-center justify-content-center"></i></button>
      <a class="btn btn-link col-1 m-1 row align-items-center justify-content-center" href="/products/cart"> 
        <span class="badge badge-danger row align-items-center justify-content-center">
          <i class="bi bi-cart4 text-white fs-3"></i>
        </span>
      </a>
      
    </div>
  </div> -->

  <div  style="padding-bottom: 80px;">
 
  <div class="container-fluid bg-dark d-md-block fixed-top">
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="https://santiagom.alwaysdata.net/logo.svg" alt="..." style="width: 300px; margin: 0 50px 0 0;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
              
                <ul class="navbar-nav me-auto">
                    <li class="nav-item" style="margin-right: 50px;">
                        <a class="nav-link active" href="/products/productCatalogue">Productos
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                  </ul>

                <form class="d-flex">
                    <input class="form-control me-sm-2 my-sm-0" type="search" placeholder="Buscar productos">
                    <button class="btn btn-secondary my-2" type="submit">Buscar</button>
                </form>

                <a href="/products/cart"><button type="button" class="btn btn-success" style="margin-left: 10px;"><i class="fa-solid fa-cart-shopping"></i></button></a>

                <a href="/users/login"><button type="button" class="btn btn-dark" style="margin-left: 10px;"><i class="fa-solid fa-user"></i></button></a>
              
                
            </div>
        </div>
        <div>
          <% if(locals.isLogged) {%>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mx-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="<%= locals.userLogged.imagen %>" class="img-profile">
                    Hola <%= locals.userLogged.nombre %>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/users/profile">Perfil</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/users/logout">Cerrar Sesión</a></li>
                </ul>
            </div>
          <% }%>
        </div>  
    </nav>
</div>

</div>
</header>