<header>
        <div class="container-fluid mr-0 pr-0 mx-auto p-3 bg-secondary align-items-center">
          <div class="row">
            <div class="col-6">       
              <div class="logo col-8">
                <a class="nav-link" href="/"><img src="https://santiagom.alwaysdata.net/logo.svg" alt=""></img></a>
            </div>
            </div>        
            <div class="col-6">
              <a class="btn btn-secondary" href="/users/login"><i class="bx bxs-user-circle mr-1"></i>Ingresar</a>
              <a class="btn btn-secondary" href="/users/register"><i class="bx bxs-user-circle mr-1"></i>Registrarse</a>
              <a class="btn btn-secondary" href="/users/profile"><i class="bx bxs-user-circle mr-1"></i>Perfil</a>
              <a class="btn btn-secondary" href="/users/logout"><i class="bx bxs-user-circle mr-1"></i>Desloguearte</a>
              <!--<div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle mr-1" href="#" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Hola User
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/user/profile">Perfil</a></li>
                <li><a class="dropdown-item" href="/user/">Cerrar Sesión</a></li>
              </ul>
            </div>-->
            </div>
          </div>
        </div>
</header>

