<header>
    <div class="container-fluid mr-0 pr-0 mx-auto p-1 bg-success row justify-content-center text-white">
      3 CUOTAS SIN INTERÉS - ENVÍOS A TODO EL PAÍS
    </div>
    <div class="container-fluid mr-0 pr-0 mx-auto p-3 bg-secondary align-items-center">
      <div class="row">
        <div class="col-6">       
          <div class="logo col-8">
          <img src="https://santiagom.alwaysdata.net/logo.svg" alt=""></div>
        </div>        
        <div class="col-6">
          <a class="btn btn-secondary" href="/login"><i class="bx bxs-user-circle mr-1"></i>Ingresar</a>
          <a class="btn btn-secondary" href="/register"><i class="bx bxs-user-circle mr-1"></i> Registrarse</a>
        </div>
      </div>
    </div>

      <nav class="navbar navbar-expand-md navbar-light bg-light sub-menu ">
        <div class="container">
          <div class="collapse navbar-collapse col-8 row justify-content-start" id="navbar">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home</a></li>
              <li class="nav-item">
                <a class="nav-link" href="/producto">Productos</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">Quienes Somos</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contacto</a></li>
            </ul>
          </div>
          <div class="col-4 justify-content-end">
            <input class="form-control d-inline w-100 " type="search" placeholder="Buscar productos..." aria-label="Search"></div>
            <button class="btn btn-secondary my-2 my-sm-0 d-inline" type="submit"><i class="bi bi-search"></i></button></div>
            <a class="btn btn-link" href="/carrito"><i class="bx bxs-cart icon-single"></i> <span class="badge badge-danger"><i class="bi bi-cart4 text-secondary fs-3"></i></span></a>
          </div>
        </div>
      </div>
</nav>
</header>