<header>
        <div class="container-fluid mr-0 pr-0 mx-auto p-3 bg-secondary align-items-center">
          <div class="row">
            <div class="col-6">       
              <div class="logo col-8">
                <a class="nav-link" href="/"><img src="https://santiagom.alwaysdata.net/logo.svg" alt=""></img></a>
            </div>
            </div>        
            <div class="col-6">
              <a class="btn btn-secondary" href="/login"><i class="bx bxs-user-circle mr-1"></i>Ingresar</a>
              <a class="btn btn-secondary" href="/register"><i class="bx bxs-user-circle mr-1"></i> Registrarse</a>
            </div>
          </div>
        </div>
</header>

