<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href = "/css/style.css" rel = "stylesheet">
    
    <title>Yerbeando</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
    </head>
<body>
<header>
  <div class="container">
    <div class="row">
      <div class="mail col-4 col-md-4 small">info@yerbeando.com.ar</div>
      <div class="telefono col-4 col-md-4 small">+54 011 3422323</div>
      <div class="datos col-4 col-md-4 text-right small">
      <p class="small">Envios superiores a 1000$ GRATIS</p></div>
    </div>
  </div>
  <div class="encabezado">
  <nav class="navbar navbar-expand-md navbar-light bg-success main-menu" style="box-shadow:none">
   <div class="container">
    <button type="button" id="sidebarCollapse" class="btn btn-link d-block d-md-none">
          <i class="bx bx-menu icon-single"></i>
            </button>
    <a class="logo">
      <img src="/img_productDetail/logo.svg" alt="">
    </a>

    <ul class="navbar-nav ml-auto d-block d-md-none">
      <li class="nav-item">
        <a class="btn btn-link" href="#"><i class="bx bxs-cart icon-single"></i> <span class="badge badge-danger"><i class="bi bi-cart4"></i></span></a>
      </li>
    </ul>
    <div class="collapse navbar-collapse">
      <form class="form-inline my-2 my-lg-0 mx-auto">
        <input class="form-control" type="search" placeholder="Buscar productos..." aria-label="Search">
        <button class="btn btn-success my-2 my-sm-0" type="submit"><i class="bx bx-search"></i></button>
      </form>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="btn btn-link" href="#"><i class="bx bxs-cart icon-single"></i> <span class="badge badge-danger"><i class="bi bi-cart4"></i></span></a>
        </li>
        <li class="nav-item ml-md-3">
          <a class="btn btn-primary" href="/views/login.html"><i class="bx bxs-user-circle mr-1"></i> Ingresar</a>
          <a class="btn btn-primary" href="/views/register.html"><i class="bx bxs-user-circle mr-1"></i> Registrarse</a>
        </li>
      </ul>
    </div>
  </div>
 </nav>
</div>

<nav class="navbar navbar-expand-md navbar-light bg-light sub-menu">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Quienes Somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="search-bar d-block d-md-none">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form class="form-inline mb-3 mx-auto">
          <input class="form-control" type="search" placeholder="Search for products..." aria-label="Search">
          <button class="btn btn-success" type="submit"><i class="bx bx-search"></i><i class="bi bi-search-heart-fill"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Sidebar -->
<nav id="sidebar">
  <div class="sidebar-header">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-10 pl-0">
          <a class="btn btn-primary" href="#"><i class="bx bxs-user-circle mr-1"></i> Log In</a>
        </div>

        <div class="col-2 text-left">
          <button type="button" id="sidebarCollapseX" class="btn btn-link">
          <i class="bx bx-x icon-single"></i>
        </button>
        </div>
      </div>
    </div>
  </div>

  <ul class="list-unstyled components links">
    <li class="active">
      <a href="#"><i class="bx bx-home mr-3"></i> Home</a>
    </li>
    <li>
      <a href="#"><i class="bx bx-carousel mr-3"></i> Products</a>
    </li>
    <li>
      <a href="#"><i class="bx bx-book-open mr-3"></i> Schools</a>
    </li>
    <li>
      <a href="#"><i class="bx bx-crown mr-3"></i> Publishers</a>
    </li>
    <li>
      <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="bx bx-help-circle mr-3"></i>
                    Support</a>
      <ul class="collapse list-unstyled" id="pageSubmenu">
        <li>
          <a href="#">Delivery Information</a>
        </li>
        <li>
          <a href="#">Privacy Policy</a>
        </li>
        <li>
          <a href="#">Terms & Conditions</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#"><i class="bx bx-phone mr-3"></i> Contact</a>
    </li>
  </ul>

  <h6 class="text-uppercase mb-1">Categories</h6>
  <ul class="list-unstyled components mb-3">
    <li>
      <a href="#">Category 1</a>
    </li>
    <li>
      <a href="#">Category 1</a>
    </li>
    <li>
      <a href="#">Category 1</a>
    </li>
    <li>
      <a href="#">Category 1</a>
    </li>
    <li>
      <a href="#">Category 1</a>
    </li>
    <li>
      <a href="#">Category 1</a>
    </li>
  </ul>

  <ul class="social-icons">
    <li><a href="#" target="_blank" title=""><i class="bx bxl-facebook-square"></i></a></li>
    <li><a href="#" target="_blank" title=""><i class="bx bxl-twitter"></i></a></li>
    <li><a href="#" target="_blank" title=""><i class="bx bxl-linkedin"></i></a></li>
    <li><a href="#" target="_blank" title=""><i class="bx bxl-instagram"></i></a></li>
  </ul>

</nav>
</header>
        <div class="container">
          <div class="category">
            <i class="fa-solid fa-blender-phone"></i>
            <button type="button" class="btn btn-outline-warning">Yerbas</button>
          </div>
          <div class="category">
            <i class="fa-solid fa-blender-phone"></i>
            <button type="button" class="btn btn-outline-warning">Mates</button>
          </div>
          <div class="category">
            <i class="fa-solid fa-blender-phone"></i>
            <button type="button" class="btn btn-outline-warning">Sets</button>
          </div>
          <div class="category">
            <i class="fa-solid fa-blender-phone"></i>
            <button type="button" class="btn btn-outline-warning">Blends</button>
          </div>
        </div>
        <div class="products">
          <div class="product">
            <img src="/Imagenes/paqueteyerba.jpg" alt="Yerba">
            <h4>Yerba</h4>
            <p>Yerba Mate Plalladito</p>
            <p>Precio: $1000</p>
            <p>Categoría: Yerbas </p>
          </div>
          <div class="product">
            <img src="/Imagenes/paqueteyerba.jpg" alt="Mate">
            <h4>Mate</h4>
            <p>Mate de Clubes</p>
            <p>Precio: $20</p>
            <p>Categoría: Mates</p>
          </div>
          <div class="product">
            <img src="/Imagenes/set.jpg"  alt="Set Matero">
            <h4>Producto 3</h4>
            <p>Sets Materos</p>
            <p>Precio: $30</p>
            <p>Categoría: Categoría 3</p>
          </div>
          <div class="product">
            <img src="Imagenes/mate.jpg" alt="Producto 4">
            <h4>Producto 4</h4>
            <p>Descripción del producto 4</p>
            <p>Precio: $40</p>
          </div>  
      </div>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>


