<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/style_productDetail.css">
    <title>Detalle de Producto</title>
</head>
<body>
    <header>
        <nav class="navbar-top">
            <div class="navbar-top-left">
                <form class="d-flex btn-size" role="search">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                    <button class="btn btn-outline-success btn-color" type="submit">Buscar</button>
                </form>
            </div>
            <div class="navbar-top-center">
                 <img src="./img_productDetail/logo.svg" alt="logo" class="logo-size">
            </div>
            <div class="navbar-top-right">
                <ul>
                    <li class="navbar-top-right-btn"><a href="#"><i class="bi bi-person-bounding-box"></i><h6>Crear Cuenta</h6></a></li>
                    <li class="navbar-top-right-btn"><a href="#"><i class="bi bi-arrow-right-square"></i><h6>Iniciar Sesión</h6></a></li>
                </ul>
            </div>
        </nav>

        <nav class="navbar-buttom">
            <div class="navbar-buttom-left">
                <a href="/"><i class="bi bi-list navbar-buttom-img"></i><h6>Menú</h6></a>
            </div>
            <div class="navbar-buttom-center">
                <a href="/">Home</a>
                <a href="/">Productos</a>
                <a href="/">Contacto</a>
                <a href="/">Ayuda</a>
                <a href="/carrito"><i class="bi bi-cart navbar-buttom-img"></i></a>
            </div>
            <div class="navbar-buttom-right">
                <a href="/carrito"><i class="bi bi-cart navbar-buttom-img"></i><h6>Carrito</h6></a>
            </div>
        </nav>
    
        <nav class="nav-root">
            <ul class="nav-root-list">
                <li><a href="/">Home</a></li>
                <li>></li>
                <li><a href="#">Productos</a></li>
                <li>></li>
                <li class="nav-root-end">Estas viendo Mate Térmico</li>
            </ul>
        </nav>
    </header>

    <article class="main-product">
        <section class="main-product-photo">
            <div class="nav-photo">

            </div>
            <figure>
                <img src="#" alt="">
            </figure>
        </section>
        <section class="product-options">

        </section>
        <section class="price">

        </section>
        <section class="shipping">

        </section>
    </article>
    <footer>

    </footer>
    <script src="./js/bootstrap.min.js"></script>
</body>
</html>