<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style_productDetail.css">
    <title>Detalle de Producto</title>
</head>
<body>
    <header class="header-logo">
        <div class="header-logo-img">
            <img src="/img_productDetail/logo.svg" alt="icon">
        </div>
    </header>

        <nav class="nav-bar">
            <div class="nav-burgerMenu">
                <a href="/" class="nav-menu"><img src="/img_productDetail/icon-menu.svg" alt="icon"></a>
            </div>
            <form action="#" method="get">
                <input type="search" id="my-search" name="q" / placeholder="Buscar producto">
            </form>
            <ul class="nav-bar-left">
                <li><a href="/">Home</a></li>
                <li><a href="/producto">Productos</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <div class="nav-bar-right">
                <a href="/register" class="nav-bar-right-account"><img src="/img_productDetail/icon-account.svg" class="nav-icon" alt="icon"><h6>Creá tu cuenta</h6></a>
                <a href="/login" class="nav-bar-right-login"><img src="/img_productDetail/icon-login.svg" class="nav-icon" alt="icon"><h6>Ingresá</h6></a>
                <a href="/carrito" class="nav-bar-right-bag"><img src="/img_productDetail/icon-bag.svg" class="nav-icon" alt="icon"></a>
            </div>     
        </nav>
    
    <nav class="nav-root">
        <ul class="nav-root-list">
            <li><a href="/">Home</a></li>
            <li>></li>
            <li><a href="#">Productos</a></li>
            <li>></li>
            <li class="nav-root-end">Estas viendo Mate Térmico</li>
        </ul>
    </nav>

    <article class="main-product">
        <section class="main-product-photo">
            <div class="nav-photo">

            </div>
            <figure>
                <img src="#" alt="">
            </figure>
        </section>
        <section class="product-options">

        </section>
        <section class="price">

        </section>
        <section class="shipping">

        </section>
    </article>
    <footer>

    </footer>
</body>
</html>