*{
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
    background-color: white;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: #ECECEC;
}

.header-main {
    background-color: #444444;
    width: 100%;
    margin: auto;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 80px;
    margin: auto;
}

.nav-burgerMenu {
    width: 25px;
}

.nav-menu {
    display: flex;
    justify-content: flex-start;
}

.nav-logo {
    width: 200px;
}

.nav-search-bag {
    display: flex;
    justify-content: space-between;
}

.nav-search {
    display: flex;
    justify-content: flex-end;
    width: 25px;
    margin-right: 6px;  
}

.nav-bag {
    display: flex;
    justify-content: flex-end;
    width: 25px;
}

.nav-bar h6 {
    display: none;
}

.nav-root {
    display: flex;
    justify-content: flex-start;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.nav-root ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-root li {
    display: inline-block;
    font-size: 14px;
    color: #4FC276;
}

.nav-root a {
    display: inline-block;
    font-size: 14px;
    color: #4FC276;
}

.nav-root-end {
    font-weight: 600;
}


@media (min-width: 768px) {

    .nav-search {
        display: flex;
        justify-content: flex-end;
        width: 25px;  
        margin-right: 50px;  
    }
    
    .nav-bag {
        display: flex;
        justify-content: flex-end;
        width: 25px;
    }
    
    .nav-bar h6 {
        display: inline-block;
        font-size: 16px;
        font-weight: 300;
    }
}

@media (min-width: 1200px) {
    .nav-bar {
        width: 950px;
        height: 80px;
    }

    .nav-root {
        width: 950px;
    }
}