.bodyRegister{
    background-color: #4FC276;
}

.register {
    background-color: #4FC276;
    padding: 15px;
    font-family: 'Barlow', sans-serif;
    color: white;
    max-width: 769px;
    margin: auto;
    margin-top: 25px;
}