*{
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
    background-color: white;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: #ECECEC;
}

textarea:focus, input:focus, input[type]:focus {
    border-color: solid 1px #4FC276;
    box-shadow: none;
    outline: solid 5px #90B093;
}


/* navbar-top */

.navbar-top {
    background-color: #444444;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-top-left {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.navbar-top-center {
    display: flex;
    justify-content: center;
    order: -1;
    padding-top: 40px;
    padding-bottom: 40px;
}

.navbar-top-right {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.logo-size {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.btn-size {
    width: 270px;  
}

.btn-color {
    border-color: #ECECEC;
    color:#ECECEC
}

.navbar-top-right ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-top-right li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.navbar-top-right h6 {
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    color: #ECECEC;
    padding-left: 5px;
}

.navbar-top-right-btn {
    display: flex;
    justify-content: center;
}


/* navbar-buttom */

.navbar-buttom {
    background-color: #4FC276;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px; 
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-buttom-left {
    display: flex;
    justify-content: flex-start;
}

.navbar-buttom-left a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-buttom-center {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: auto;
}

.navbar-buttom-center a {
    display: block;
    font-size: 18px;
    font-weight: 300;
    color: #444444;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-buttom-right {
    display: flex;
    justify-content: flex-end;
}

.navbar-buttom-right a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-buttom-img {
    color:#444444
}

.navbar-buttom h6 {
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    color: #444444;
    padding-left: 5px;
    margin: 0;
}


/* nav-root */

.nav-root {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-root ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-root li {
    display: inline-block;
    font-size: 14px;
    color: #4FC276;
}

.nav-root a {
    display: inline-block;
    font-size: 14px;
    color: #4FC276;
}

.nav-root-end {
    font-weight: 600;
}


@media (min-width: 768px) {

    .navbar-top {
        justify-content: space-between;
        flex-direction: row;
        height: 100px; 
        padding-left: 10px;
        padding-right: 10px;
    }

    .navbar-top-left {
        justify-content: flex-start;
        width: 33%;
        margin: auto;
        padding-bottom: 0;
    }

    .navbar-top-center {
        display: flex;
        justify-content: center;
        width: 33%;
        margin: auto;
        order: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-top-right {
        justify-content: flex-end;
        align-items: center;
        width: 33%;
        margin: auto;
        padding-bottom: 0;
    }

    .logo-size {
        width: 220px;    
    }

    .navbar-top-right h6 {
        font-size: 15px;
    }

    .navbar-buttom {
        background-color: #4FC276;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px; 
        padding-left: 10%;
        padding-right: 10%;
    }
    
    .navbar-buttom-left {
        display: none;
    } 

    .navbar-buttom-center {
        display: flex;
    }

    .navbar-buttom-right {
        display: none;
    }  
}

@media (min-width: 1200px) {

    .navbar-top {
        padding-left: 10%;
        padding-right: 10%;
    }

    .navbar-top-right h6 {
        font-size: 18px;
        font-weight: 300;
        padding-left: 5px;
    }

    .nav-root {
        padding-left: 10%;
        padding-right: 10%;
    }
}