<!DOCTYPE html>
<html lang="en">
<%- include ('./../partials/head.ejs') %>
<body>
  <%- include ('./../partials/header.ejs') %>
    <div class="carrito">
    <br>
    <table class="table  table-hover">
        <thead>
          <tr class="text primary">
            <th scope="col">Productos</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
          </tr>
        </thead>
        <tbody id="carritoDeCompras">
          <!-- Aquí se generará dinámicamente el contenido del carrito -->
      </tbody>
    </table>
      <div class="row mx-4">
          <div class="col">
            <h3 class="ItemCartTotal text-black">Total: $0.00</h3>
          </div>
          <div class="col d-flex justify-content-end">
            <button class="btn btn-success" onclick="mostrarDetalleCompra()">COMPRAR</button>
            <div id="cartelFelicitaciones" style="display: none;">
          </div>
          </div>
        </div>
    </div>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">¡Gracias por comprar en Yerbeando!</h5>
          </div>
          <div class="modal-body">
            <table class="table table-hover">
              <thead>
                <tr class="text primary">
                  <th scope="col">Productos</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Cantidad</th>
                </tr>
              </thead>
              <tbody id="detalleCompra">
                <!-- Aquí se mostrará el detalle de la compra -->
              </tbody>
            </table>
            <div class="row mx-4">
              <div class="col">
                <h3 class="text-black">Total: $<span id="totalCompra">0.00</span></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include ('./../partials/footer.ejs') %>
    <%- include ('./../partials/bootstrapJs.ejs') %>
    
    <script src="/js/cart.js"></script>
    <script>
      renderCart();

    </script>
</body>
</html>

